@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://css.gg/css?=|facebook|instagram|youtube');

.b-font {
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    color: white;
}

.n-font {
    font-family: "Kanit", sans-serif;
    font-weight: 300;
    color: white;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.banner {

    background: linear-gradient(rgb(0, 0, 0, 0.5), rgb(0, 0, 0)), url("images/banner.jpg");
    background-position: center;
    height: 80vh;
    background-size: cover;

}

.container {
    display: flex;
    justify-content: center;
    margin: 0 100px;
}

.nav {

    align-items: center;
    justify-content: space-between;
}

.nav li,
.nav a,
.nav ul {
    list-style-type: none;
    text-decoration: none;
    color: white;
    display: flex;
    gap: 20px;
}

.main-btn button {
    padding: 5px 15px;
    border-radius: 5px;
    background: transparent;
    border: 1px solid white;
    color: white;
}

.main-btn .log-in {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border: 1px solid white;
    margin-left: 10px;
}

.banner-text {
    margin-top: 250px;
    flex-direction: column;
    text-align: center;
    font-size: 20px;
}

.banner-text h1 {
    font-size: 90px;
}

.banner-text p {
    margin-top: -15px;
}

.banner-btn {
    margin-top: 60px;
}

.banner-btn a {
    color: white;
    text-decoration: none;
    font-size: 15px;
    border: 1px solid white;
    padding: 5px 25px;
    border-radius: 8px;
}

.banner-btn ul {
    justify-content: center;
    display: flex;
    gap: 20px;
    list-style-type: none;
}


/* Main */

.main {
    display: flex;
    margin: 0 80px;
    justify-content: space-around;
    margin-top: 50px;
    flex-direction: row;
}

.text h4 {
    margin-top: 100px;
    font-size: 40px;
    color: black;
}

.text button {
    padding: 15px 50px;
    border-radius: 10px;
    border: 1px solid black;
    background: transparent;
    font-size: 30px;
    transition: 0.5s;
}

.text .b {
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

.text button:hover {
    box-shadow: 0px 5px 50px rgba(0, 0, 0, 0.8);
    background-color: rgb(0, 0, 0);
    color: white;
}


/* Strong Points */

.strong-points {
    flex-direction: column;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 50px;
}

.strong-points h2 {
    color: black;
    font-size: 65px;
}

.strong-points p {
    color: black;
    font-size: 25px;
    padding: 20px 20px;
}


/* Cards */

.cards {
    justify-content: center;
    gap: 60px;
    display: flex;
    flex-wrap: wrap;
    margin: 20px;

}

.cards-1 {
    margin: 10px 0;
    border-radius: 24px;
    justify-content: center;
    width: 300px;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
    border-radius: 24px;
}

.cards-1 img {
    width: 300px;
    border-radius: 24px;
}

.cards-1 h3 {
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

.cards-1 p {
    font-size: 18px;
    text-align: center;
    color: rgb(151, 151, 151);
}

.cards-1 button {
    padding: 15px 30px;
    border-radius: 8px;
    background: transparent;
    font-size: 25px;
    cursor: pointer;
}

.cards .btn {
    display: flex;
    justify-content: center;
    margin: 40px 0;
}


/* feedback */

.feedback {
    flex-direction: column;
    justify-content: center;
}

.text {
    font-size: 50px;
    text-align: center;
    color: black;
}

.reviews {
    text-align: center;
    margin-top: 50px;
}

.reviews .name {
    color: black;
    font-size: 35px;
    margin: 10px 0;
}

.reviews p {

    color: rgb(129, 129, 129);
    font-size: 15px;
}

.reviews img {
    border-radius: 50%;
    border: 2px solid black;
    padding: 5px;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.5);
}

.reviews .verified {
    font-size: 40px;
    color: rgb(0, 204, 255);
}

.stars .star {
    font-size: 50px;
}

.stars {
    margin: 20px;
}

/* Footer */

footer {
    background-color: black;
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
}

.footer h3 {
    color: white;
}

footer ul {
    list-style-type: none;
    display: flex;
    gap: 50px;
    align-items: center;
    margin-top: 8px;
}

footer a {
    color: white;
}

.last p {
    color: white;
    text-align: center;
    background-color: black;
}

/* Responsive */

@media screen and (max-width: 860px) {
    .container {
        display: flex;
        justify-content: space-between;
        margin: 0 50px;
    }

    .nav img {
        width: 120px;
    }

    .main-nav {
        display: none;
    }

    .banner-text {
        margin-top: 250px;
        flex-direction: column;
        font-size: 20px;
    }

    .main {
        display: flex;
        margin: 0 20px;
        justify-content: space-between;
        margin-top: 100px;
        flex-direction: row;
    }

    .text h4 {
        margin-top: 40px;
        font-size: 30px;
        color: black;
    }

    .main img {
        width: 350px;
    }

    .strong-points h2 {

        font-size: 45px;
    }

    .strong-points p {
        font-size: 20px;
        padding: 10px 20px;
    }

    .cards-1 {
        width: 220px;
    }

    .cards-1 img {
        width: 220px;
    }

    .cards-1 h3 {
        padding: 10px;
        font-size: 20px;
        text-align: center;
    }

    .cards-1 p {
        padding: 0 10px;
        font-size: 10px;
    }

    .cards-1 button {
        padding: 5px 10px;
        border-radius: 5px;
        border: 1px solid black;
        background: transparent;
        font-size: 15px;
        cursor: pointer;
    }

    .feedback .text {
        font-size: 30px;
    }
}

@media screen and (max-width:545px) {
    .nav {
        margin: 0 20px;
    }

    .banner {
        height: 70vh;
    }

    .banner-text h1 {
        margin-top: -70px;
        font-size: 50px;
    }

    .main {
        flex-wrap: wrap;
    }

    .feedback .text{
        font-size: 20px;
    }

    .reviews img{
        width: 120px;
    }
    .comment .name{
        font-size: 20px;
        margin-top: -15px;
    }
    .comment p{
        font-size: 10px;
    }

    .stars .star{
        font-size: 20px;
        margin-top: -20px;
    }
}